@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Black Han Sans', sans-serif;
}

ul, li {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

.test {
	margin: 0 auto;
	display: block;
}

.bg {
	width: 100px;
	height: 100px;
	background-image: url(img/clan.jpg);
}

body {
	width: 1200px;
	margin: 0 auto;
}

header {
	border-radius: 20px;
	width: 1200px;
	height: 200px;
	position: relative;
	background: #020000d1;
	border: 1px solid black;
}

header .leftHeader {
	color: #fff;
	position: absolute;
	top: 40px;
	left: 50px;
	width: 100px;
}

header .leftHeader span {
	font-size: 40px;
}

header .rigthHeader {
	position: absolute;
	bottom: 30px;
	right: 30px;
	width: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
}

header .rigthHeader li {
	width: 100px;
	text-align: center;
	margin: 0;
	font-size: 20px;
	text-align: center;
	border-radius: 10px;
	color: #fff;
	background: #000;
}

header .rigthHeader li:hover {
	transition: 0.3s;
	background: #fff;
	color: #000;
}


#clanInfo {
	width: 100%;
	height: 850px;
	display: flex;
	border: 1px solid black;
	border-radius: 10px;
}

#clanInfo img {
	width: 600px;
	height: 100%;
	border-radius: 10px;
}


#clanInfo .clanInfoText {
	width: 600px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#clanInfo .clanInfoText p {
	text-align: center;
	font-size: 25px;
}


#competition {
	width: 100%;
	height: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid black;
	border-radius: 10px;
	background: #020000d1;
}

#competition .card {
	width: 270px;
	height: 80%;
	margin: 0 auto;
	border: 3px solid white;
	border-radius: 5px;
	background: #fff;
}

#competition .card .cardImg {
	width: 100%;
	height: 75%;
	border: 1px solid black;
}

#competition .card .cardImg img {
	width: 100%;
	height: 100%;
}


#competition .card .cardInfo {
	width: 100%;
	height: 25%;
	display: flex;
	justify-content: center;
	align-items: center;
	
}

#competition .card .cardInfo span {
	font-size: 25px;
}

#competition .card .noneC {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#joinClan {
	width: 100%;
	height: 360px;
	border-radius: 10px;
	border: 1px solid black;
	display: flex;
}

#joinClan .discordbox {
	width: 640px;
	height: 360px;
}

#joinClan .otherSns {
	width: 560px;
	height: 100%;
	display: flex;
	flex-direction: column;
}

#joinClan .otherSns div {
	width: 560px;
	height: 80px;
	flex : 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

#joinClan .otherSns div img {
	width: 50px;
	height: 50px;
	background-origin: 5px;
}

#joinClan .otherSns div p {
	font-size: 30px;
}